*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #ffff;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("bg.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container{
    position: relative;

}
.clock{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.68);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.57);
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;

}
.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;
}
.clock::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #ffff;
    border-radius: 50px;
    z-index: 2;
}
.line{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.line i{
    position: absolute;
    background-color:var(--clr);
    width: 4px;
    height:var(--h);
    border-radius: 8px;
}